* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Anonymous Pro', sans-serif;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: 'Anonymous Pro';
	src: url(../fonts/AnonymousPro-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Anonymous Pro';
	src: url(../fonts/AnonymousPro-Regular.ttf);
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../fonts/IBMPlexMono-Medium.ttf);
}

.main {
	background: #f1f1f1;
}

:root {
	--text_gray: #a1a6b4;
	--white-100: #fff;
	--white: #fff;
	--black: #121723;
}

.container {
	margin: 0 auto;
	max-width: 1160px;
}

.container__apart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.h__100 {
	height: 90%;
}

/* Хедер */

.header {
	height: 110px;
	background: var(--white);
	border-bottom: 1px solid #a1a6b4;
}

.header__logo {
	width: 110px;
}

.socials {
	color: #000;
	display: inline-flex;
	align-items: center;
	gap: 24px;
}

.social {
	font-size: 20px;
	font-weight: 700;
}

/* Футер */

.footer {
	padding-top: 32px;
	padding-bottom: 21px;
	background: var(--black);
}

.footer__logo {
	width: auto;
	height: 110px;
}

.social__link {
	color: #000;
}

.social__link--white {
	color: #fff;
}

.divider {
	margin-top: 32px;
	height: 1px;
	background: rgba(230, 232, 236, 0.4);
	margin-bottom: 18px;
}

.copyright {
	color: var(--text_gray);
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.container__main {
	display: flex;
	padding: 0px 150px;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}

.container__main__content {
	display: flex;
	padding-top: 32px;
	flex-direction: column;
	align-items: center;
}

.mansion__big {
	display: flex;
	max-width: 1140px;
	padding: 48px;
	flex-direction: column;
	gap: 32px;
	border-radius: 50px;
	background: var(--white-100);
}

.mansion__big__img {
	height: 600px;
	align-self: stretch;
	border-radius: 50px;
}

.mansion__big__info {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.mansion__big__title {
	font-size: 48px;
	font-weight: 400;
}

.mansion__big__subtitle {
	font-size: 36px;
	font-weight: 400;
}

.mansion__big__text {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	flex: 1 0 0;
}

.mansion__big__additional__info {
	display: flex;
	gap: 32px;
}

.mansion__big__parameters {
	display: flex;
	flex-direction: column;
	gap: 24px;
	flex: 1 0 0;
}

.mansion__big__parameters__header {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.parameters__header {
	font-size: 30px;
	font-weight: 400;
}

.mansion__big__parameters__line {
	height: 1px;
	align-self: stretch;
	background: var(--black);
}

.mansion__big__parameter {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.mansion__big__parameter__info {
	display: flex;
	justify-content: space-between;
}

.mansion__big__parameter__title {
	font-size: 20px;
	font-weight: 400;
}

.mansion__big__parameter__value {
	font-size: 20px;
	font-weight: 400;
}

.mansion__similar {
	max-width: 1140px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding-bottom: 32px;
}

.mansion__similar-title {
	font-size: 48px;
}

.mansion__similar-mansion {
	display: grid;
	gap: 24px;
	grid-template-columns: repeat(3, 1fr);
}

.mansion {
	border-radius: 20px;
	background: white;
	height: fit-content;
	transition: transform ease-out 0.25s;
}

.mansion:hover {
	transform: translateY(-10px);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.mansion__img {
	display: block;
	max-width: 100%;
	border-radius: 20px;
	padding: 5px 5px 0 5px;
}

.mansion__info {
	display: flex;
	padding: 32px 24px;
	flex-direction: column;
	gap: 12px;
}

.mansion__info-title {
	align-self: stretch;
	color: var(--black);
	font-family: Anonymous Pro;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.mansion__info-subtitle {
	align-self: stretch;
	color: var(--black);
	font-family: Anonymous Pro;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
